[submodule "DaisySP"]
	path = DaisySP
	url = https://github.com/electro-smith/DaisySP
	branch = V1.0.0
[submodule "libdaisy"]
	path = libdaisy
	url = https://github.com/electro-smith/libdaisy
	branch = v6.0.0
[submodule "Terrarium"]
	path = Terrarium
	url = https://github.com/PedalPCB/Terrarium
